 .u-section-1 {
  background-image: linear-gradient(to right, #c389c0, #fdf8f5);
}

.u-section-1 .u-sheet-1 {
  min-height: 790px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 723px;
}

.u-section-1 .u-container-layout-1 {
  padding: 14px 0;
}

.u-section-1 .u-image-1 {
  width: 540px;
  height: 695px;
  margin: 0 auto;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 723px;
}

.u-section-1 .u-container-layout-2 {
  padding: 15px 30px;
}
script{
  width: 800px; 
  height: 600px
}
.u-section-1 .u-group-1 {
  min-height: 663px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 20px;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  margin: 40px 10px 0;
}

.u-section-1 .u-form-1 {
  height: 450px;
  margin-top: 40px;
  margin-bottom: 0;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 0px;
  background-image: none;
  font-size: 1.25rem;
  font-weight: 400;
  text-transform: none;
  border-style: solid;
  padding: 10px 30px 12px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 663px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 596px;
  }

  .u-section-1 .u-image-1 {
    width: 470px;
    height: 605px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 596px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    width: 100%;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 220px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 913px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
  }

  .u-section-1 .u-form-1 {
    height: 472px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 320px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 685px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 431px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 438px;
  }
}